body {
    background-color: #eeeeee;
    margin: 15px 10px;
}

/* =========================
   for Phone single column
========================= */
@media (max-width: 768px) {

  /* Container */
  .app-container {
    margin: 0;
  }

  /* title and cards */
  .top-section {
    flex-direction: column ;
  }

  .cards{
    margin-bottom: 10px;
  }
  #insight-card {
    padding-left: 22px !important;
  }
  #info-card {
    margin-left: 0 !important;
    padding-left: 20px !important;
  }

  .Upper-graphs {
    flex-direction: column ;
  }

#past-graph, #future-graph {
    width: 100% !important;
    height: 300px !important;
  }

  .Lower-graph {
    flex-direction: column ;
  }

}